body {
	/*background-color: #b1c4e2;*/
	background-image: linear-gradient(to bottom right, white, #b1c4e2);
}

#wrapper {
	height: 500px;
	width: 500px;
}

input {
	width: 425px;
	height: 5px;
	padding: 5px;
}

button {
	width: 25px;
	height: 25px;
	padding: 5px;
}

img {
	width: 128px;
	height: 198px;
}

.literature {
	width: 400px;
	height: 220px;
}

.photo {
	width: 128px;
	height: 198px;
	display: inline-block;
	margin: 5px;
}

.info {
	width: 250px;
	height: 198px;
	display: inline-block;
	text-align: center;
	margin: 5px;
}

h1 {
	text-decoration: underline;
	font-family: "Cinzel", serif;
	font-weight: bold;
}




